body{
    font-family: "Avenir Next";
}

li{
    list-style: none;
}

.header{
    background-color: #E48016;
    color: #fff;
    height: 90px;
}

.header-logo{
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}

.header-list li{
    float: left;
    padding: 33px 20px;
}
.main{
    padding: 100px 80px;
}

.contents{
    height: 500px;
    margin-top: 100px;
}

.section-title{
    background-color: #f0eb8b;
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 28px;
    margin-bottom: 50px;
}

.contents-item{
    float: left;
    margin-right: 40px;
}
.dropbtn{
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus{
    background-color: #2980B9;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #2ec8c7;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover{
    background-color: #ddd;
}

*{
    box-sizing: border-box;
}

* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

.mySlides1 img{
    height: 350px;
    width: 1000px;
}

.mySlides2 video{
    width: 1000px;
}